@page "/buyMenu/{auctionID:int?}"


@rendermode InteractiveServer

@inject IConfiguration _config
@inject ISqlDataAccess _data
@inject NavigationManager NavigationManager

@using DataLibrary

<PageTitle>Buy Menu</PageTitle>

    <Header />

    <div class="buyLayout">
        <div class="grid-info">

            <div id="image-display">
                <img src="./images/item2.jpg" id="image">
            </div>

            <div class="all-text">

                <div class="text-group-1">
                    <p class="text"><b>Name:</b></p>
                    <p class="text-variable">@leilao.GetNomeLeilao()</p>
                    <p class="text"><b>Athlete:</b></p>
                    <p class="text-variable">@leilao.GetNomeEquipaEventoArtigo()</p>
                    <p class="text"><b>Date of Use:</b></p>
                    <p class="text-variable">@leilao.GetDataUsoArtigo()</p>
                    <p class="text"><b>Authentication Number:</b></p>
                    <p class="text-variable">@leilao.GetNumeroAutenticacaoArtigo()</p>
                    <p class="text"><b>Size:</b></p>
                    <p class="text-variable">@leilao.GetTamanhoArtigo()</p>
                    <p class="text"><b>Condition:</b></p>
                    <p class="text-variable">@leilao.GetEstadoArtigo()</p>
                    <p class="text"><b>Category:</b></p>
                    <p class="text-variable">@leilao.GetIdCategoria()</p>
                </div>
            </div>
        </div>

        <div class="text-group-2 grid-info2">
            <div>
                <p class="text"><b>Current Bid:</b></p>
                @if (@leilao.GetHighestBid() == 0){ <p class="text-variable">None</p> }
                else{ <p class="text-variable">$@leilao.GetHighestBid()</p> }
            </div>
            <div>
                <p class="text"><b>Buy Now Price:</b></p>
                <p class="text-variable">$@leilao.GetPrecoCompraAutomaticoLeilao()</p>
            </div>
            <div>
                <p class="text"><b>Time Left:</b></p>
                <p class="text-variable">@leilao.GetTimeLeft()</p>
            </div>
            <div>
                <p class="text"><b>Minimum bid increments:</b></p>
                <p class="text-variable">$@leilao.GetTaxaMinimaIncrementoLeilao()</p>
            </div>
        </div>
        



        <div class="grid-buy">
            <p class="info"><b>Fast bid:</b></p>
            <p class="info"><b>Custom Bid:</b></p>
            <p class="info"></p>
            <p class="info"></p>
            <button type="button" class="btn btn-success" @onclick="PlaceBid">$@leilao.GetNextMinBid()</button>
            <input type="text" class="form-control input text-center" @bind="priceInput">
            <button type="button" class="btn btn-success" @onclick="ValidateTransaction">SUBMIT BID</button>
            <button type="button" class="btn btn-danger" @onclick="() => RedirectToMenu()">CANCEL</button>
        </div>


        @if (showPopupSuccess){
            <div class="popup alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #4ac667; color: black;">
                <strong>Bid for $@biddedValue was placed successfully!</strong>
            </div>
        }
        else if(showPopupError){
            <div class="popup alert alert-warning alert-dismissible fade show" role="alert" style="background-color: rgb(207, 35, 35); color: black;">
                <strong>Error in placing bid!</strong>
            </div>
        }


        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            </footer>
        </div>
    </div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/buyMenu.css">

@code {

    [Parameter] public int? auctionID { get; set; }
    Leilao leilao = new Leilao();
    private string priceInput = "";
    private bool showPopupSuccess = false;
    private bool showPopupError = false;
    private double biddedValue = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentAuction();
    }

    private async Task<Leilao> GetCurrentAuction(){
        var currentUrl = NavigationManager.Uri;
        var pageStr = currentUrl.Split("/").Last();
        int.TryParse(pageStr, out var currentPage);

        DatabaseQueries dbQuery = new DatabaseQueries(_config, _data);
        var auction = await dbQuery.GetAuctionById(currentPage); //TEST ONLY
        if (auction != null)
        {
            leilao = auction;
        }
        else{
            NavigationManager.NavigateTo("/notfound");
        }

        return leilao;
    }


    private async void ValidateTransaction(){
        double parsedValue;
        try{
            parsedValue = Convert.ToDouble(priceInput);
        }
        catch (FormatException){
            showPopupError = true;
            priceInput = "";
            StateHasChanged();
            return;
        }

        if(parsedValue >= leilao.GetNextMinBid()){
            DatabaseQueries dbQuery = new DatabaseQueries(_config, _data);
            biddedValue = parsedValue;
            int rowsAffected = await dbQuery.addBid(parsedValue, leilao.GetIdVendedor(), leilao.GetIdLeilao());
            await GetCurrentAuction();
            showPopupSuccess = true;
            priceInput = "";
            StateHasChanged();
            showPopupSuccess = false;
        }
        else{
            showPopupError = true;
            priceInput = "";
            StateHasChanged();
        }
    }

    private async void PlaceBid(){
        priceInput = "";
        DatabaseQueries dbQuery = new DatabaseQueries(_config, _data);
        biddedValue = leilao.GetNextMinBid();
        int rowsAffected = await dbQuery.addBid(leilao.GetNextMinBid(), leilao.GetIdVendedor(), leilao.GetIdLeilao());
        await GetCurrentAuction();
        showPopupSuccess = true;
        StateHasChanged();
        showPopupSuccess = false;


    }


    void RedirectToMenu(){
        NavigationManager.NavigateTo($"/auctions");
    }

}
