@page "/{userID:long}/itemWon/{page:int?}"

@rendermode InteractiveServer

@inject IConfiguration _config
@inject ISqlDataAccess _data
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components


@using DataLibrary

<PageTitle>Item Won</PageTitle>

    <Header userID="@GetCurrentUserID()" />

<div class="buyLayout">
        <div class="grid-info">

            <div id="image-display">
                <img src="./images/@leilao.GetImagemArtigo()" class="img-fluid " >
            </div>

            <div class="all-text">

                <div class="text-group-1">
                    <p class="name"><b>Name:</b></p>
                    <p class="name-variable">@leilao.GetNomeLeilao()</p>
                    <p class="text"><b>Athlete:</b></p>
                    <p class="text-variable">@leilao.GetNomeEquipaEventoArtigo()</p>
                    <p class="text"><b>Date of Use:</b></p>
                    <p class="text-variable">@leilao.GetDataUsoArtigoDateOnly()</p>
                    <p class="text"><b>Authentication Number:</b></p>
                    <p class="text-variable">@leilao.GetNumeroAutenticacaoArtigo()</p>
                    <p class="text"><b>Size:</b></p>
                    <p class="text-variable">@leilao.GetTamanhoArtigo()</p>
                    <p class="text"><b>Payment:</b></p>
                    @if (nome != ""){
                        <p class="text-variable">Send $@leilao.GetHighestBid() to @nome with the number @leilao.GetIdLeilao().</p>
                    }
                    <p class="text"><b>Current Status:</b></p>
                    <p class="text-variable">Bought</p>
                </div>
            </div>
        </div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            </footer>
        </div>
    </div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/itemWon.css">


@code {

    [Parameter] public long? userID { get; set; }
    [Parameter] public int? page { get; set; }
    Leilao leilao = new Leilao();
    private string nome = "";


    protected override async Task OnInitializedAsync()
    {
        BackgroundTimer.SetAllFalse(GetCurrentUserID());
        await GetCurrentAuction();
    }

    private async Task<Leilao> GetCurrentAuction(){

        DatabaseQueries dbQuery = new DatabaseQueries(_config, _data);
        if(await dbQuery.GetUser(GetCurrentUserID()) == false || await dbQuery.GetAccountStatus(GetCurrentUserID()) == false){
            NavigationManager.NavigateTo("/notfound");
        }



        var currentUrl = NavigationManager.Uri;
        var pageStr = currentUrl.Split("/").Last();
        int.TryParse(pageStr, out var currentPage);

        var auction = await dbQuery.GetAuctionById(currentPage); //TEST ONLY
        if (auction != null)
        {
            leilao = auction;
            nome = await GetUserName(leilao.GetIdVendedor());
            StateHasChanged();
        }
        else{
            NavigationManager.NavigateTo("/notfound");
        }

        return leilao;
    }


    private async Task<string> GetUserName(long idCategoria){
        DatabaseQueries dbQuery = new DatabaseQueries(_config, _data);
        string nomeCategoria = await dbQuery.GetNameUser(idCategoria);
        return nomeCategoria;
    }



    private long GetCurrentUserID(){
        return userID ?? 0;
    }


}